

.loginPageBody{
    min-height: fit-content;
    height: calc(100vh - 260px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.leftBody{
    flex: 1;
    height: 100%;
    display: grid;
    place-content: center;
}

.rightBody{
    min-height: fit-content;
    height: 100%;
    flex: 1;
    position: relative;
    padding-top: 20px;
}

.PopupBackGround {
    height: 100vh;
    width: 100%;
    position: absolute;
    display: grid;
    place-items: center;
    backdrop-filter: blur(10px);
    z-index: 100;
}

.Closepopup{
    height: 100%;
    width: 100%;
    position: absolute;
}

.Popup{
    /* width: 280px; */
    padding: 30px 40px;
    background-color: #fff;
    border: 0.5px solid rgba(0,0,0,0.2);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 110;
}

.ResetTitle{
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
}


@media screen and (max-width: 500px) {
    .leftBody {
        display: none;
    }
}


