.header{
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #01082D;
    max-width: 100vw;
    padding-left: 15px;
    padding-right: 15px;
}

.logo {
    height: 50px;
    width: 50px;
    font-size: large;
    font-weight: bold;
    font-family: poppins;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons{
    margin-right: 30px;
    display: flex;
    flex-direction: row;
}

.UserProfile{
    width: 250px;
    background-color: #fff;
    border: 0.5px solid rgba(0,0,0,0.2);
    position: absolute;
    top: 100%;
    left: -250px;
    transform: translateX(50px);
    z-index: 100;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    border-radius: 8px;
}