.button{
    padding: 5px 9px;
    margin: 5px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 10px;
}