.googleButton{
    display: flex;
    background-color: #F3F2F2;
    flex-direction: row;
    width: fit-content;
    padding: 0 20px;
    letter-spacing: 1.5px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}
.buttonText {
    margin-right: 1px;
}