.inputtextContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    margin: 5px 0;
    width: 300px;
    position: relative;;
}

.inputtext{
    background-color: #fff;
    /* border: none; */
    outline: none;
    border-width: 0.5px;
    border-style: solid;
    line-height: 20px;
    font-size: 16px;
    margin-left: 5px;
    border-radius: 5px;
    width: 220px;
    padding: 3px 5px;
}

.icon {
    margin: 0 5px;
    font-size: 18px;
    width: 20px;
}

.pass{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

input:disabled{
    color: rgba(0,0,0,0.5);
    border-color: rgba(0,0,0,0.5);
}